body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

h1 {
    font-weight: bold;
}

a, u {
    text-decoration: none;
}

img {
    height: auto;
    width: 400px;
}